.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding-top: 0;
}

.itemCommon {
	width: 100%;
	margin: 0;
	display: flex;
}

.innerItemCommon {
	width: 100%;
	background-color: var(--grey);
	border-radius: 30px;

	display: flex;
	flex-direction: column;
	padding: 10px 20px 20px;
	transition: transform 0.1s ease-in-out;
}

.innerItemCommon:hover {
	transform: scale(1.02);
}

@media (max-width: 1000px) {
	.container {
		grid-template-columns: 1fr;
	}
}

.itemLeft {
	justify-self: start;
}

.itemRight {
	justify-self: end;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.title {
	font-size: 2rem;
	color: var(--blue);
	align-self: start;
}

.meta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.date {
	opacity: 0.5;
	font-size: 0.9rem;
	white-space: nowrap;
}

.subtitle {
	opacity: 0.5;
	font-size: 0.85rem;
}

.description {
	opacity: 0.8;
	padding: 0 30px 20px 00px;
}
