@import "tailwindcss";

:root {
	--background: #000000;
	--foreground: #ffffff;
	--blue: #68a6f8;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans), Helvetica, sans-serif;
	min-height: 100vh;
	max-width: 1300px;
	margin: 0 auto; /* centers the grid horizontally */
}
