@import "tailwindcss";

:root {
	--background: #000000;
	--foreground: #ffffff;
	--blue: #68a6f8;
	--red: #f05c8d;
	--purple: #b976f3;
	--green: #7abe7b;
	--grey: #1f1f1f;
	--navbar-background: rgba(0, 0, 0, 0.2);
}

/* Light mode override */
:root[data-theme="light"] {
	--background: #ffffff;
	--foreground: #000000;
	--blue: #3b82f6;
	--red: #ef4444;
	--purple: #a855f7;
	--green: #22c55e;
	--grey: #f2f2f2;
	--navbar-background: rgba(255, 255, 255, 0.4);
}

html,
body {
	background: var(--background);
	color: var(--foreground);
}

body {
	font-family: var(--font-sans), Helvetica, sans-serif;
	min-height: 100vh;
}

.children {
	max-width: 1300px;
	margin: 0 auto;
}

.noSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

.body {
	padding: 0 50px;
}

@media (max-width: 800px) {
	.body {
		padding: 0 10px;
	}
}

.homeParent {
	display: flex;
	flex-direction: column; /* stack children vertically */
	justify-content: flex-start; /* top align */
	align-items: center; /* horizontal center */
	height: 100vh;
	padding-top: 10vh; /* push down from top */
	gap: 1rem;
}


