.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.heading {
	font-size: 2rem;
	font-weight: 600;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 20px;
}

@media (max-width: 1000px) {
	.grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
